/* General Styles */
:root {
    --primary-color: #F2DCF1;
    --scrollbar-track-color: #3C403C;
    --scrollbar-thumb-color: #BFA8BE;
}

body {
    color: white;
    background: url("https://i.pinimg.com/originals/2e/02/62/2e0262efc5934b50eca89f2b84387411.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/* Typography */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: var(--primary-color);
}

h2 {
    font-size: xx-large;
    color: var(--primary-color);
}

h3 {
    font-size: large;
    color: var(--primary-color);
}

.titulos {
    font-size: 1.2rem;
    color: var(--primary-color);
}

p {
    font-size: medium;
    color: var(--primary-color);
}

li {
    font-size: medium;
    list-style-type: square;
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: dotted;
}

a.projetos {
    font-size: 20px;
}

/* Layout */
.contenier {
    padding: 0px 50px;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.midia {
    align-items: center;
    display: flex;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

/* Images */
.ft img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

footer img {
    width: 40px;
    height: 40px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}
